.headerGroup {
  height: 100%;
  padding-inline: var(--mantine-spacing-md);
}

.headerRightAlignedGroup {
  margin-left: auto;
}

.navbarScrollableSection {
  margin-block: var(--mantine-spacing-md);
  padding-inline: var(--mantine-spacing-md);
}
