.headerGroup {
  height: 100%;
  padding-inline: var(--mantine-spacing-md);
}

.headerRightAlignedGroup {
  margin-left: auto;
}

.navbarScrollableSection {
  margin-block: var(--mantine-spacing-md);
  padding-inline: var(--mantine-spacing-md);
}

.mainScrollArea {
  height: calc(
    100vh - var(--app-shell-header-height, 0px) -
      var(--app-shell-footer-height, 0px)
  );
  padding: var(--mantine-spacing-md);
}
